
$isDarkTheme: true;

body, h1, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;

    @if $isDarkTheme {
        background-color: #1F1F1F;
        color: white;
    } @else {
        background-color: #FFFFFF;
        color: #333333;
    }
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #1F1F1F;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 100px;
}

.img-logo {
    height: 100px;
    width: 100%;
    align-self: flex-start;
    margin-right: 300px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.links {
    margin-top: 50px;
    font-size: 15px;
}

.container-body {
    background-image: url('./academics.png'); 
    background-size: cover; 
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
    width: 100%;
    height: 400px;
}

.ac-container {
    text-align: center;
    margin-bottom: 50px;
}

#ac-out {
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: #F4DC19;
}

footer {
    @if $isDarkTheme {
        background-color: #1F1F1F;
        color: white;
    } @else {
        background-color: #FFFFFF;
        color: #333333;
    }
    color: white;
    text-align: center;
    padding: 20px 0;
}
